/* 全般 */
:root {
	--heading-color: hsl(93 85% 26%); /* #3c790a */

	--issue-color: black;
	--issue-bg-color: transparent;
	--issue-border-color: red;
	--warning-color: hsl(0, 80%, 45%);
	--warning-bg-color: hsl(0, 80%, 95%);
	--note-color: hsl(120 100% 16%); /* 005000 */
	--note-bg-color: hsl(120 100% 93%); /* #DDFFDD */
	--example-color: hsl(0 0% 15%);
	--example-bg-color: hsl(0 0% 95%);

	--table-rule-color: gray;
}

pre {
	background: hsl(216 100% 97%); /* #f0f6ff */;
}

table {
	border-style: hidden hidden none hidden;
}

table thead {
	border-bottom: medium solid var(--table-rule-color);
}

table td, table th {
	border: solid thin var(--table-rule-color);
	border-top: none;
}

/* 各種ボックス */

	/* 例, 注記, 警告, 課題, 他*/

.example {
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-left: double;
}

.critical {
	border: thick double red;
	padding: 0.5em 1em;
	background: none repeat scroll 0% 0% hsl(60 100% 90%);
}

.note, .warning, .issue {
	padding: 0.5em 1em;
}

.note {
	font-family: sans-serif0, sans-serif;
}

.issue,
.XXX {
	border: medium solid var(--issue-border-color);
}

.issue {
	content:"課題： "; /* "Issue: " */
}

.warning {
	font-weight: bolder;
	font-style: italic;
}

	/* */

dl.domintro {
	color: var(--note-color);
	background: var(--note-bg-color);
	padding: 1em 1em;
	border: none;
	font-family: sans-serif0, sans-serif;
}

dl.domintro:before {
	display: inline-block;
	content: 'このブロックは Web 開発者向けであり、規範的ではない。';
	font-size: smaller;
	position: relative;
	left: -1em; top: -1em;
	background: hsl(120 100% 97%); /* #EEFFEE */
}

dl.domintro > dt, dl.domintro > dt code {
	color: black;
	text-decoration: none;
}

.domintro dt {
	font-family: monospace0, monospace;
}

	/* IDL */

pre.idl {
	background: var(--bg-color-1);
	border: solid thin black;
	padding: 0.5em;
}

pre.lang-html.bad {
	color: var(--dim-color);
}

	/* 各種 構成子 */

.production {
	color: var(--text-color-1);
	font-style: italic;
}

.element-def {
	background: hsl(120 100% 97%); /* #EEFFEE */
	padding: 0.5em 0.5em 0.5em 1em;
}

.attr-state {
	font-family: sans-serif0, sans-serif;
}

.property {
	white-space: nowrap;
}

#_WHATWG {
	display: inline-block;
	text-decoration: none;
	color: transparent;
	border: none;
	float: right;
	width: 100px;
	height: 100px;
	z-index: 2;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj4KPGNpcmNsZSBjeD0iNTAiIGN5PSI1MCIgcj0iNDUiIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzNjNzkwYSIgc3Ryb2tlLXdpZHRoPSIxMCIvPgo8cGF0aCBkPSJtMzgsMzhjMC0xMiwyNC0xNSwyMy0yYzAsOS0xNiwxMy0xNiwyM3Y3aDEwdi00YzAtOSwxNy0xMiwxNy0yN2MtMi0yMi00NS0yMi00NSwzem03LDMyaDEwdjEwaC0xMCIgZmlsbD0iIzNjNzkwYSIvPgo8L3N2Zz4K");
}
