/* 全般 */

h1, h2, h3, h4, h5, h6 {
	color: #3c790a;
}

pre {
	background: #f0f6ff;
	padding: 1em;

	white-space: pre-wrap;
	font-style: normal;
}

img {
	display: inline-block;
}

table {
	border-style:hidden hidden none hidden;
}
table thead {
	border-bottom: solid medium gray;
}

table td, table th {
	border: solid thin gray;
	border-top: none;
	padding:0.2em;
}

/* 各種ボックス */

	/* 例, 注記, 警告, 課題, 他*/

.example {
	font-style: normal;
	padding-left: 1em;
	margin-bottom: 0.5em;
	border-left: double;
	color: #222;
	background: #F3F3F3;
}


.critical {
	margin: 1em;
	border: thick double #F00;
	padding: 1em;
	background: none repeat scroll 0% 0% #FFC;
}

.note, .warning, .issue, .XXX {
	padding: 0.3em;
}

.note {
	margin-left:2em;
	font-style:italic;
	font-family: sans-serif0, sans-serif;
	color:#008000;
	background: #EEFFEE;
}

.issue,
.XXX {
	border:solid #f00;
}

.issue {
	content:"課題： "; /* "Issue: " */
}

.warning {
	color: hsl(0, 80%, 45%);
	background: hsl(0, 80%, 95%);
	font-weight: bolder;
	font-style: italic;
}


	/* */

dl.domintro {
	color: #005000;
	margin: 2em 0 2em 2em;
	padding: 1em 1em;
	border: none;
	background: #DDFFDD;

	font-family: sans-serif0, sans-serif;
}

dl.domintro:before {
	display: inline-block;
	content: 'このブロックは規定ではない。';
	font-size: smaller;
	position: relative;
	left: -1em; top: -1em;
	background: #EEFFEE;
}

dl.domintro > dt, dl.domintro > dt code {
	color: black; text-decoration: none;
}

.domintro dt {
	font-family: monospace0, monospace;
}

.domintro dd {
	margin: 0.5em 0 1em 2em;
}


	/* idl defs */
.idl-def::before {
	display: block;
	margin-top: 2em;
	color: gray;
	content: '— IDL —';
	font-size: small;
}


	/* ABNF */
.ABNF {
	background: #f0f6ff;
	color: purple;
}

	/* IDL */
pre.idl :link { color:inherit; background:transparent }

pre.idl {
	border:solid thin;
	background:#eee;
	color:#000;
	padding:0.5em;
	white-space: pre-wrap;
/*	  overflow: auto との２択 */
}

pre.idl code {
	color: inherit;
}

	/* spec bug */
div.spec-bug {
	text-align:right;
	color: gray;
}


	/* 各種 構成子 */

/* 符号位置, 文字列 */

.code-point {
	font-family: sans-serif0, sans-serif;
}

.literal {
	color: gray;
}

/* DOM 例外 */
.error {
	color: #006633;
}

.production {
	color: purple;
	font-style: italic;
}

	/* HTTP */
		/* HTTP header, method, status code */
.header, .method {
	color: #035;
	font-weight:bold;
}
.status {
	color: green;
}

	/* CSP ／ HTTP 指令 */
.directive {
	color: #824;
}
		/* protocol element */
.protocol {
	color: purple;
	font-family: monospace0, monospace;
}

		/* URL scheme */
.scheme {
	color: #006633;
}

	/* 抽象演算 */
.abstract {
	color: green;
}

	/* event */
.event-type {
	color: purple;
}

	/* HTML 要素, 内容属性 */
.element, .attr {
	color: #A22;
}

.element-def {
	background: #EEFFEE;
	padding: 0.5em 0.5em 0.5em 1em;
}

.attr-state {
	font-family: sans-serif0, sans-serif;
}


	/* CSS： プロパティ, 値, 疑似要素, その他の構成子 */
.property, .value, .pseudo, .css {
	font-family: monospace0, monospace;
}

.css, .property {
	color: #005a9c;
}

.value {
	color: #832;
}

.property {
	white-space: nowrap;
}

.pseudo {
	color: purple;
}

