/* 全般 */

:root {
	--heading-color: #005A9C;

	--issue-bg-color: hsl(0 70% 95%); /* #FBE9E9 */
	--issue-border-color: hsl(0 70% 60%); /* #E05252 */
	--warning-bg-color: hsl(0 70% 95%); /* #E9FBE9 */
	--warning-border-color: hsl(0 70% 60%); /* #E05252 */
	--note-bg-color: hsl(120 70% 95%); /* #E9FBE9 */
	--note-border-color: hsl(120 70% 60%); /* #52E052 */
	--example-bg-color: hsl(51 70% 95%); /* #FCFAEE */
	--example-border-color: hsl(51 70% 60%); /* #E0CB52 */
	--example-label-color: hsl(51 70% 45%); /* #B9AB2D */

	--annotation-bg-color: hsl(290 70% 95%); /* #F8E9FB; */
	--annotation-border-color: hsl(290 70% 60%); /* #C752E0; */
}

/* 各種ボックス */
.issue, .warning, .note, .example, .advisement {
	padding: 0.5em;
	border-width: 0.5em;
	border-style: none none none solid;
	margin-top: 0.5em;
}
span.note, span.issue, span.example { padding: .1em .5em .15em; }

.annotation {
	padding: 0.5em;
	border-left-width: 0.5em;
	border-left-style: solid;
	background: var(--annotation-bg-color);
	border-color: var(--annotation-border-color);
}

/* Example box */
.example > figure,
.example > pre {
	margin-left: 1em;
}

div.example:before {
	color: var(--example-label-color); 
	font-family: sans-serif;
	content: "Example";
	content: "例";
	min-width: 7.5em;
	display: block;
}

/* Open issue / editorial remark; not intended for a final publication */
.issue {
	counter-increment: issue;
}

.issue:before {
	content: "Issue " counter(issue);
	content: "課題";
	padding-right: 1em;
	color: var(--warning-border-color);
}

.warning {
	counter-increment: warning;
}

.warning:before {
/*	content: "Worning " counter(warning);*/
	content: "警告";
	padding-right: 1em;
	color: var(--warning-border-color);
}

.advisement {
	border-style: none solid;
}
	/*.advisement:before { color: #FF8800; } */


/* tables */

tr {
	border-top: thin solid silver;
}

/* 定義表（ .def-table ）  */

	/* 要素 定義表 */
table.elemdef {
	--table-bg-color: hsl(204 100% 93%); /* #ddeeff; */
	--table-border-color: hsl(204, 80%, 75%); /* #8ccbf2 */
	--table-rule-color: hsl(204, 51%, 82%); /* #bbd7e9 */
}

	/* 属性 定義表 */
table.attrdef {
	border: none;
}

.valdef > dt {
	font-family: monospace0, monospace;
}
