/* pre.example → div.example pre */

/* 各種ボックス */
.issue, .warning, .note, .example, .advisement {
	padding: .5em;
	/* padding: .5rem; /* proposed unit in css3-values */
	border-width: .5em;
	/* border-left-width: .5rem; /* proposed unit in css3-values */
	border-style: none none none solid;
}
span.note, span.issue, span.example { padding: .1em .5em .15em; }

/* Example box */
.example {
	border-color: #E0CB52;
	background: #FCFAEE;
}


/* Examples */
div.example {
	margin-bottom: 0.5em;
}

div.example:before {
	color: #B9AB2D; 
	font-family: sans-serif;
	content: "Example";
	content: "例";
	min-width: 7.5em;
	display: block;
}

.example > pre {
	background: #FCFADC;
}

/* Open issue / editorial remark; not intended for a final publication */
.issue {
	border-color: #E05252;
	background: #FBE9E9;
	counter-increment: issue;
}

.issue:before {
	content: "Issue " counter(issue);
	content: "課題";
	padding-right: 1em;
	color: #E05252;
}

/* Warning */
.warning {
	border-color: #E05252;
	background: #FBE9E9;
	counter-increment: issue;
}

.warning:before {
/*	content: "Worning " counter(issue);*/
	content: "警告";
	padding-right: 1em;
	color: #E05252;
}

/* Class note is a non-normative note. May be inline or a P or DIV */
.note {
	border-color: #52E052;
	background: #E9FBE9;
}


/* Advisement Box: for attention-grabbing normative statements */

.advisement {
	border-color: orange;
	border-style: none solid;
	background: #FFEECC;
	text-align: center;
}
strong.advisement {
	display: block;
}
	/*.advisement:before { color: #FF8800; } */

/*
tr {
	border-top: 1px solid silver;
}
*/

pre.ABNF {
	background: #f0f6ff;
	color: purple;
}


/* IDL */

dl.idl-defs > dt {
	font-family: monospace0, monospace;
}

pre.idl {
	padding: .5em 1em;
	background: #DEF;
	margin: 1.2em 0;
	border-left: 0.5em solid #8CCBF2;
}

pre.idl :link, pre.idl :visited {
	color:inherit;
	background:transparent;
}


/* */

.directive {
	color: #824;
}

.production {
	color: purple;
	font-family: monospace0, monospace;
}

/* exception */
.error {
	color: #006633;
}

/* リテラル */
.literal {
	color: gray;
}

/* HTTP ヘッダ／メソッド名 */
.header, .method {
	color: #035;
	font-weight: bold;
}

	/* HTML 要素, 内容属性 */
.element, .attr {
	color: #A22;
}

	/* イベント型 */
.event-type {
	color: purple;
}

	/* CSS code */
.css {
	color: #005a9c;
	font-family: monospace0, monospace;
}

	/* CSS 値／属性値 */
.value {
	color: #832;
	font-family: monospace0, monospace;
}

