/* 全般 */
:root {
	--heading-color: light-dark( oklch(0.5196 0.15 135), oklch(0.86 0.15 135) );
	--warning-label-color: light-dark( oklch(0.6 0.18 15), oklch(0.8 0.18 15) );
	--issue-bg-color: transparent;
	--issue-border-color: red;
	--note-bg-color: light-dark( oklch(0.965 0.07 145), oklch(0.322 0.1 145) );
	--critical-bg-color: light-dark( oklch(0.987 0.065 108), oklch(0.494 0.107 108) );
	--element-def-bg-color: light-dark( oklch(0.98 0.025 160), oklch(0.278 0.07 160) );
}

pre {
	/* 
	background: hsl(216 100% 97%); 
	#f0f6ff */;
}

table {
	border-style: hidden hidden none hidden;
}

table thead {
	border-bottom: medium solid var(--table-rule-color);
}

table td, table th {
	border: solid thin var(--table-rule-color);
	border-top: none;
}

/* 各種ボックス */

	/* 例, 注記, 警告, 課題, 他*/

.example {
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-left: double;
}

.critical {
	border: thick double red;
	padding: 0.5em 1em;
	background: none repeat scroll 0% 0% var(--critical-bg-color);
}

.note, .warning, .issue {
	padding: 0.5em 1em;
}

.note {
	font-family: sans-serif0, sans-serif;
}

.issue,
.XXX {
	border: medium solid var(--issue-border-color);
	padding: 0.2em;
}

.issue {
	content: "課題： "; /* "Issue: " */
}

.warning {
	font-weight: bolder;
	font-style: italic;
}

.warning:before {
	content: "警告："; /* "Warning!" */
	color: var(--warning-label-color);
}

	/* IDL */

pre.lang-html.bad {
	color: var(--dim-color);
}

	/* 各種 構成子 */

.production {
	color: var(--text-color-1);
	font-style: italic;
}

.element-def {
	background: var(--element-def-bg-color);
	padding: 0.5em 0.5em 0.5em 1em;
}

.attr-state {
	font-family: sans-serif0, sans-serif;
}

.property {
	white-space: nowrap;
}

#_WHATWG {
	display: inline-block;
	text-decoration: none;
	color: transparent;
	border: none;
	float: right;
	width: 100px;
	height: 100px;
	z-index: 2;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj4KPGNpcmNsZSBjeD0iNTAiIGN5PSI1MCIgcj0iNDUiIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzNjNzkwYSIgc3Ryb2tlLXdpZHRoPSIxMCIvPgo8cGF0aCBkPSJtMzgsMzhjMC0xMiwyNC0xNSwyMy0yYzAsOS0xNiwxMy0xNiwyM3Y3aDEwdi00YzAtOSwxNy0xMiwxNy0yN2MtMi0yMi00NS0yMi00NSwzem03LDMyaDEwdjEwaC0xMCIgZmlsbD0iIzNjNzkwYSIvPgo8L3N2Zz4K");
}
