/* pre.example → div.example pre */

/* 各種ボックス */
.issue, .warning, .note, .example, .advisement {
	padding: .5em;
	/* padding: .5rem; /* proposed unit in css3-values */
	border-width: .5em;
	/* border-left-width: .5rem; /* proposed unit in css3-values */
	border-style: none none none solid;
	margin-top: 0.5em;
}
span.note, span.issue, span.example { padding: .1em .5em .15em; }

/* Example box */
.example {
	border-color: #E0CB52;
	background: #FCFAEE;
}

div.example:before { 
	color: #B9AB2D; 
	font-family: sans-serif;
}

/* Examples */

div.example:before {
	content: "Example";
	content: "例";
	min-width: 7.5em;
	display: block;
}

.example > pre {
	background: #FCFADC;
}

/* Open issue / editorial remark; not intended for a final publication */
.issue {
	border-color: #E05252;
	background: #FBE9E9;
	counter-increment: issue;
}

.issue:before {
	content: "Issue " counter(issue);
	content: "課題";
	padding-right: 1em;
	color: #E05252;
}

/* Warning */
.warning {
	border-color: #E05252;
	background: #FBE9E9;
	counter-increment: issue;
}

.warning:before {
/*	content: "Worning " counter(issue);*/
	content: "警告";
	padding-right: 1em;
	color: #E05252;
}

/* Class note is a non-normative note. May be inline or a P or DIV */
.note {
	border-color: #52E052;
	background: #E9FBE9;
}


/* Advisement Box: for attention-grabbing normative statements */

.advisement {
	border-color: orange;
	border-style: none solid;
	background: #FFEECC;
	text-align: center;
}
strong.advisement {
	display: block;
}
	/*.advisement:before { color: #FF8800; } */



/* at risk */
.atrisk::before {
	content: 'at risk';
	color: gray;
	outline: 1px solid;
	margin-right: 0.5em;
}

/* tables */

tr {
	border-top: 1px solid silver;
}

/* property, descriptor 定義表 */
table.propdef,
table.descdef {
	border-spacing: 0;
/*	table-layout: fixed; */
	background-color: #ddeeff;
	border-left: 0.5em solid;
}

table.propdef {
	border-left-color: #8ccbf2;
}
table.descdef {
	border-left-color: #8cdcb2;
}

table.descdef tr,
table.propdef tr {
	border-top-color: #bbd7e9;
}

table.descdef th,
table.propdef th {
	white-space: nowrap;
}

table.descdef td,
table.propdef td {
	min-width: 12em;
	border-left: 1px solid #bbd7e9;
}

	/* pre */
pre {
	white-space: pre-wrap;
}

	/* IDL */
pre.idl {
	padding: .5em 1em;
	background: #DEF;
	margin: 1.2em 0;
	border-left: 0.5em solid #8CCBF2;
}

pre.idl :link, pre.idl :visited {
	color:inherit;
	background:transparent;
}

pre.lang-js,
pre.lang-ml, /* html etc. */
pre.lang-css {
	background: #FCFADC;
}




/* CSS 構成子
.type:     value types
.at-rule:  at rules
.property: property names
.value:    property values
.pseudo    pseudo-class, pseudo-element
.unit:     unit identifier
.production: production in grammar
.func:     functional notations
.css       other constructs
*/

.unit,
.at-rule,
.css,
a.css,
.pseudo,
.property,
a.property,
.descriptor,
.func {
	color: #005a9c;
	font-family: monospace0, monospace;
}

.descriptor {
	color:#006724;
}

.property {
	white-space: nowrap;
}

.pseudo-element,
.pseudo {
	color: purple;
}

/* CSS 値 #9c5a00 #832 */
.value, a.value, code.value {
	color: #832;
	font-family: monospace0, monospace;
}

/* production */
.prod {
	color: #600;
	font-family: monospace0, monospace;
}

.production,
a.production,
.type {
	color: #600;
	font-family: monospace0, monospace;
	font-style:italic;
}

.valdef > dt {
	font-family: monospace0, monospace;
}


	/* HTML 要素, 内容属性 */
.element, .attr {
	color: #A22;
}

.element::before {
	content: '<';
}
.element::after {
	content: '>';
}

.event-type {
	color: purple;
}
