/* 全般 */

:root {
	--heading-color: light-dark( hsl(204 100% 31%), hsl(204 100% 78%) );
}
/* 各種ボックス 
note: a non-normative note. May be inline or a P or DIV
advisement: for attention-grabbing normative statements
issue: Open issue / editorial remark; not intended for a final publication
*/

.issue, .warning, .note, .example, .advisement {
	padding: 0.5em;
	border-width: 0.5em;
	border-style: none none none solid;
	margin-top: 0.5em;
}

span.note, span.issue, span.example {
	padding: .1em .5em .15em;
}

.example > figure {
	margin-left: 1em;
}

div.example {
	margin-bottom: 0.5em;
}

div.example:before { 
	color: var(--example-label-color);
	font-family: sans-serif;
}

div.example:before {
	content: "Example";
	content: "例";
	min-width: 7.5em;
	display: block;
}

.issue {
	counter-increment: issue;
}

.issue:before {
	content: "Issue " counter(issue);
	content: "課題";
	padding-right: 1em;
	color: var(--issue-border-color);
}

.warning {
	counter-increment: issue;
}

.warning:before {
/*	content: "Worning " counter(issue);*/
	content: "警告";
	padding-right: 1em;
	color: var(--warning-border-color);
}

.advisement {
	border-style: none solid;
}

/* tables */

tr {
	border-top: thin solid silver;
}

	/* IDL */
pre.idl {
	padding: .5em 1em;
	margin: 1.2em 0;
}

.valdef > dt {
	font-family: monospace0, monospace;
}


/* HTML 要素 */
.element::before {
	content: '<';
}
.element::after {
	content: '>';
}

