/* 全般
	色に対するコメントは原文の色指定（色相, 彩度を揃えるため近似値）
 */

:root {
	--heading-color: hsl(204 100% 31%); /* #005A9C */

	--issue-bg-color: hsl(0 70% 95%); /* #FBE9E9 */
	--issue-border-color: hsl(0 70% 60%); /* #E05252 */
	--warning-bg-color: hsl(0 70% 95%); /* #E9FBE9 */
	--warning-border-color: hsl(0 70% 60%); /* #E05252 */
	--note-bg-color: hsl(120 70% 95%); /* #E9FBE9 */
	--note-border-color: hsl(120 70% 60%); /* #52E052 */
	--example-bg-color: hsl(51 70% 95%); /* #FCFAEE */
	--example-border-color: hsl(51 70% 60%); /* #E0CB52 */
	--example-label-color: hsl(51 70% 45%); /* #B9AB2D */
	--advisement-bg-color: hsl(40 100% 90%); /* #FFEECC */
	--advisement-border-color: hsl(40 100% 50%); /* orange #FFA500 */
	--advisement-label-color: hsl(32, 100%, 50%); /* #FF8800 */
}

/* 各種ボックス 
note: a non-normative note. May be inline or a P or DIV
advisement: for attention-grabbing normative statements
issue: Open issue / editorial remark; not intended for a final publication
*/

.issue, .warning, .note, .example, .advisement {
	padding: 0.5em;
	border-width: 0.5em;
	border-style: none none none solid;
	margin-top: 0.5em;
}

span.note, span.issue, span.example {
	padding: .1em .5em .15em;
}

.example > figure {
	margin-left: 1em;
}

div.example {
	margin-bottom: 0.5em;
}

div.example:before { 
	color: var(--example-label-color);
	font-family: sans-serif;
}

div.example:before {
	content: "Example";
	content: "例";
	min-width: 7.5em;
	display: block;
}

.issue {
	counter-increment: issue;
}

.issue:before {
	content: "Issue " counter(issue);
	content: "課題";
	padding-right: 1em;
	color: var(--issue-border-color);
}

.warning {
	counter-increment: issue;
}

.warning:before {
/*	content: "Worning " counter(issue);*/
	content: "警告";
	padding-right: 1em;
	color: var(--warning-border-color);
}

.advisement {
	border-style: none solid;
}

/* tables */

tr {
	border-top: thin solid silver;
}

	/* IDL */
pre.idl {
	padding: .5em 1em;
	margin: 1.2em 0;
}

pre.lang-js,
pre.lang-ml, /* html etc. */
pre.lang-css {
	background: hsl(56 84% 93%); /* #FCFADC */
}

.valdef > dt {
	font-family: monospace0, monospace;
}


/* HTML 要素 */
.element::before {
	content: '<';
}
.element::after {
	content: '>';
}

