/* 全般 */

:root {
	--heading-color: light-dark( hsl(204 100% 31%), hsl(204 100% 78%) );
	--annotation-bg-color: light-dark( hsl(290 70% 95%), hsl(290 70% 12%) );
	--annotation-border-color: light-dark( hsl(290 70% 60%), hsl(290 70% 37%) );
}

img {
	background: white;
}

/* 各種ボックス */
.issue, .warning, .note, .example, .advisement {
	padding: 0.5em;
	border-width: 0.5em;
	border-style: none none none solid;
	margin-top: 0.5em;
}
span.note, span.issue, span.example { padding: .1em .5em .15em; }

.annotation {
	padding: 0.5em;
	border-left-width: 0.5em;
	border-left-style: solid;
	background: var(--annotation-bg-color);
	border-color: var(--annotation-border-color);
}

/* 例 */
.example > figure,
.example > pre {
	margin-left: 1em;
}

div.example:before {
	color: var(--example-label-color); 
	font-family: sans-serif;
	content: "Example";
	content: "例";
	min-width: 7.5em;
	display: block;
}

/* Open issue / editorial remark; not intended for a final publication */
.issue {
	counter-increment: issue;
}

.issue:before {
	content: "Issue " counter(issue);
	content: "課題";
	padding-right: 1em;
	color: var(--warning-border-color);
}

.warning {
	counter-increment: warning;
}

.warning:before {
/*	content: "Worning " counter(warning);*/
	content: "警告";
	padding-right: 1em;
	color: var(--warning-border-color);
}

.advisement {
	border-style: none solid;
}

/* tables */

tr {
	border-top: thin solid var(--N-color);
}

/* 定義表（ .def-table ）  */

	/* 属性 定義表 */
table.attrdef {
	border: none;
}

.valdef > dt {
	font-family: monospace0, monospace;
}
