:root {
}

code {
	color: var(--text-color-1);
}

.hex-value {
	font-family: monospace0, monospace;
}

.note, .example, .warning {
	padding: 0.5em 1em;
	border-style: solid none;
	border-width: thin;
}

pre {
	background: var(--bnf-bg-color);
}

/* 例 */
div.example {
	padding: 0.5em;
	border-width: thin;
}

/* TODO → common.css */
div.p {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

/* protocol element (grammar, production) */
.token {
	color: var(--text-color-1);
}
.production {
	font-style: italic;
	color: var(--text-color-1);
}

.pseudo-header {
	color: var(--http-field-color);
}

/* reason/warning phrase */
.phrase {
	color: var(--dim-color);
}
.warn {
	color: var(--text-color-4);
}

