span[lang="en"] {
	white-space: pre-line;
}

#_sideways-logo > div {
	background:gray;
}

h1, h2, h3, h4, h5 {
	color: black;
}

pre, .note {
	margin-left: 2em;
	padding: 0.5em 1em;
	border-style: solid none;
	border-width: 0.1em;
}

	/* 注記 */
.note {
	border-color: #52E052;
	background: #E9FBE9;
}

pre {
	border-color: #90b8de;
	background: #f0f6ff;
	overflow: auto;
}

pre.http-code {
	white-space: pre-wrap;
}

pre.ABNF {
	background: #f0f6ff;
	color: purple;
}

code {
	color: purple;
}

/* 例 */
div.example {
	padding: 0.5em;
	background: #FFD;
	border-color: #DDA;
	border-style: solid none;
	border-width: 0.1em;
}

/* コード例 */
.example > pre, samp {
	color: darkblue;
}

pre[lang="en"] {
	font-family: monospace0;
	padding: 0;
	margin: 0;
}

/* HTTP ヘッダ名 */
.header {
	color: #035;
	font-weight: bolder;
}

/* HTTP method 名 */
.method {
	color: #041;
	font-weight: bolder;
}

/* TODO → common.css  code-comment*/
pre > .comment {
	/* コメント 005a9c */
	color: #005a3b;
	font-family: serif;
	white-space: normal;
}

/* TODO → common.css */
div.p {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

/* protocol element (grammar, production) */
.token {
	color: purple;
}
.production {
	font-style: italic;
	color: purple;
}
/* status code */
.status {
	color: green;
}
/* reason/warning phrase */
.phrase {
	color: gray;
}
/*
.phrase::before {
	content: ' (';
}
.phrase::after {
	content: ') ';
}
td > .phrase::before,
td > .phrase::after {
	content: '';
}

h2 > .phrase::before,
h3 > .phrase::before,
h4 > .phrase::before {
	content: '';
}

h2 > .phrase::after,
h3 > .phrase::after,
h4 > .phrase::after {
	content: '';
}*/


.directive {
	color: #824;
}
.warn {
	color: #824;
}



