:root {
	--heading-color: black;

	--note-bg-color: hsl(120 70% 95%); /* #E9FBE9 */
	--note-border-color: hsl(120 70% 60%); /* #52E052 */
	--example-bg-color: hsl(60 100% 93%); /* #FFFFDD */
	--example-border-color: hsl(60 43% 77%);/* #DDDDAA */
	--warning-bg-color: hsl(0 70% 95%); /* #E9FBE9 */
	--warning-border-color: hsl(0 70% 60%); /* #E05252 */
}

code {
	color: var(--text-color-1);
}

.note, .example {
	padding: 0.5em 1em;
	border-style: solid none;
	border-width: thin;
}

/* コード例 */
pre.example, samp {
	color: darkblue;
}
