#_sideways-logo > div {
	background:gray;
}

h1, h2, h3, h4, h5 {
	color: black;
}

footer {
	padding:0.5em 1em 0.5em 1em;
	background: #EEE;
}

pre, .note, .warning, .example {
	margin-left: 2em;
	padding: 0.5em 1em;
	border-style: solid none;
	border-width: 0.1em;
}

pre {
	border-color: #90b8de;
	background: #f0f6ff;
	padding-left: 1em;
	overflow: auto;
}

.note {
	border-color: #52E052;
	background: #E9FBE9;
}

.warning {
	border-color: #E05252;
	background: #FBE9E9;
}

/* 例 */
.example {
	background: #FFD;
	border-color: #DDA;
}

/* コード例 */
pre.example, samp {
	color: darkblue;
}

	/* コード内コメント 005a9c */
pre > span {
	font-family: serif0, serif;
	color: #005a3b;
}


	/* ABNF, 文法記号 */
pre.ABNF, .g {
	color: purple;
}

code {
	color: purple;
}


/* HTTP ヘッダ名 */
.header {
	color: #035;
}
