@charset "UTF-8";

/*
 * Style sheet for SVG specification
 */

/* removed styles :
H2, H3, H4, H5, H6 → W3C-REC.css

H1 {
    clear: left;
    margin-top: 1em;
    text-align: center;
}

BODY
.navlinks

PRE.svgsamplecompressed {
    font-size: 75%;
    letter-spacing: -.05em;
    line-height: 95%
}
.filterformula → filters.html

.dtd-fragment → extend.html (embed)
.toc2
.toc3
ADDRESS
P.toc-line
pre.illegal-example
div.illegal-example
div.illegal-example p
div.html-example
pre.html-example
pre.illegal-html-example
div.illegal-html-example
div.illegal-html-example p
pre.deprecated-html-example
div.deprecated-html-example
div.deprecated-html-example p
div.xml-example
pre.xml-example
pre.illegal-xml-example
div.illegal-xml-example
div.illegal-xml-example p
div.dtd-example
pre.dtd-example
pre.illegal-dtd-example
div.illegal-dtd-example
div.illegal-dtd-example p
DIV.deprecated-html-example A:link,
DIV.deprecated-html-example A:visited,

.normref → refs.html
.informref → refs.html

LI.tocline1 → 
	index.html: .toc li,
	expanded-toc.html: ol > li > *:first-child

LI.tocline2
LI.tocline4

.PathDataTable → path.html

.table-heading-1 → animate.html

.useRuleApplied
.useRuleIgnored

.editor
.editor-intro
.editor-rec
.DESIGNGOALS
.REQT-LEVEL0
.REQT-LEVEL1
.REQT-LEVEL2

.b4NomFix
.afNomFix

DIV.descdef TH

S, DEL
U, INS
DIV.figure

.keyword

.dom-attr-type → escript.html
.dom-attr-value
.dom-parameter-name
.math-variable
.color-keyword-value → types.html
.colorpatch → types.html
.familyname → refs.html (embed)
P.caption

.xgrammar

.header ul
.header ul li
.header ul li:first-child:before
.header ul li:before

.separated
dl.unemphasized-names > dt > a

DIV.propdef TH

DIV.toc UL UL, DIV.toc OL OL {margin-left: 0}
DIV.toc UL UL UL, DIV.toc OL OL OL {margin-left: 1em}
DIV.toc UL UL UL UL, DIV.toc OL OL OL OL {margin-left: 0}

*/

PRE { margin-left: 2em }
PRE {
    color: #A52A2A;
    font-family: monospace;
    font-size: 90%
}
PRE strong {
    color: #004400;
    font-weight: bold
}

.idl-code { 
  margin: 0;
  font-family: monospace;
	border: 1px solid black;
	white-space: pre;
	color: black; 
	background-color: #dfdfdf;
}

.adef {
    font-family: monospace;
	font-weight: bold;
}

VAR {
    font-style: normal;
}
IMG {
    border: 0;
}
.toc {
    text-indent: 0;
}

/* It should be 'inherit', but Netscape inserts a random color :-( */
A.noxref:link, A.noxref:visited,
DIV.example A:link, DIV.example A:visited,
.note A:link, .note A:visited {color: inherit}

.propdef-title {
  background: yellow;
}

.propdef .descdef-title {
  color: yellow;
  background: green
}

/* TABLE {margin-left: 1em} */
DIV.propdef {margin: 1.2em 0}

div.example { color: maroon }
pre.example { color: maroon }

.note {
    font-weight: bold;
    margin: 1em;
    color: green
}



UL.toc, OL.toc {list-style: none}
/* DIV.subtoc UL, DIV.subtoc OL {list-style: none} */
/* The border in the following rule crashes NN4 on fonts.html :-(
DIV.subtoc {padding: 1em; border: solid black thin; margin: 1em 0;
    background: #ddd}
*/
UL.index {list-style: none}

CAPTION {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 90%;
    color: #088;
    margin: 1.5em 25% 0 25%;
}
DIV.toc, UL.index, DT {
    text-align: left
}
SUP {
    vertical-align: super;
    font-size: 80%
}
.code-fragment {
	color: #A52A2A;
	font-weight: bold;
    font-size: 90%
}
.element-name {
	color: #A52A2A;
	font-weight: bold;
    font-size: 90%
}
.attr-name {
	color: #2A2AA5;
	font-weight: bold;
    font-size: 90%
}
.prop-name {
	color: black;
	font-weight: bold;
    font-size: 90%
}
.attr-value, .prop-value {
	font-weight: bold;
    font-size: 90%
}
.SVG-Term {
    color: red;
	font-weight: bold
}
.SVG-TermDefine {
	font-weight: bold
}
.example-ref {
	color: green;
}
.anim-target { 
    font-style: italic 
}
.DOMInterfaceName {
        font-weight: bold
}
.dom-attr-name {
        color: black;
        background-color: #FFFFD2;
}
.dom-method-name {
        color: black;
        background-color: #D9E6F8;
}

.view-as-svg {
  font-style:italic
}


/* svg-style-extra */

body { line-height: 1.3; }

.element-summary { background: #d9e8ff; padding: 1em; margin-top: 1em }
.element-summary-name { float: right; font-size: 110% }
.element-summary dl, .element-summary dt { margin-top: 0; margin-bottom: 0; }
.element-summary * + dt { margin-top: 0.5em; }
.element-summary dd { margin-top: 0; }
.element-summary ul.no-bullets { list-style: none; padding-left: 0em }
.element-summary ul.no-bullets li { padding-left: 2em; text-indent: -2em; }
.expander { color: #888; text-decoration: underline; cursor: pointer; font-size: 85% }
.expander { }
.expander:active { color: #C00 }
.expander:hover { background: #ffa }
.expander:after { content: 'show »' }

pre.idl { color: black; background: #d9e8ff; padding: 1em; margin-top: 1em; margin-left: 0; font-size: 1em; overflow: auto; /*white-space: pre-wrap*/ }
pre.idl a:link, pre.idl a:visited { color: black; }

dl.interface dt {
  margin-top: 1em;
}

dl.interface dl.attributes > dt,
dl.interface dl.constants > dt,
dl.interface dl.operations > dt {
  margin-top: 2em;
}

dl.interface dl.attributes > dt,
dl.interface dl.constants > dt,
dl.interface dl.operations > dt,
dl.interface ol.parameters > li,
dl.interface dl.exceptions > dt {
  font-weight: normal;
  display: list-item;
}

dl.interface dl.attributes > dt:first-child,
dl.interface dl.constants > dt:first-child,
dl.interface dl.operations > dt:first-child,
dl.interface ol.parameters > li:first-child,
dl.interface dl.exceptions > dt:first-child {
  margin-top: 0;
}

dl.interface dl.attributes > dd,
dl.interface dl.constants > dd,
dl.interface dl.operations > dd,
dl.interface ol.parameters > li,
dl.interface dl.exceptions > dd {
  margin-top: 0.5em;
  margin-left: 0;
}

dl.interface dl.attribute {
  /*margin-left: 2em;*/
}

dl.interface dd > *:first-child,
dl.interface ol.parameters > li,
dl.interface ol.parameters > li > *:first-child + * {
  margin-top: 0;
}

ol.parameters > li > .parameter {
  float: left;
}

ol.parameters > li > .parameter:after {
  content: " — ";
}

.idl {
  /*font-weight: bold;*/
}

.idlattr, .idlattr:link, .idlattr:visited {
  background: #d9e8ff;
  color: black;
}

ol.parameters {
  list-style-type: disc;
  padding-left: 0;
}

var {
  font-style: italic;
}

dl.definitions > dt,
.adef-list dl > dt { margin-top: 1em; }

dl.definitions > dt + dt,
.adef-list dl > dt + dt { margin-top: 0; }

dl.definitions > dd > :first-child,
.adef-list dl > dd > :first-child { margin-top: 0; }

table.vert {
  border-collapse: collapse;
  border-top: 2px solid #005a9c;
  border-bottom: 2px solid #005a9c;
  margin: 1em auto;
}
table.vert td {
  background: #f0f6ff;
}
table.vert th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #005a9c;
  white-space: nowrap;
  color: #d9e8ff;
  background: #005a9c;
}
table.vert th a:link,
table.vert th a:visited { color: #d9e8ff; }
table.vert th a:hover { color: black; }
table.vert th, table.vert td { padding: 0.5em 0.75em; }
table.vert th .attr-name { color: white }
table.vert th a:hover .element-name { color: #2A2AA5 }
table.vert th .prop-name { color: white }
table.vert th a:hover .element-name { color: black }
table.vert th .element-name { color: white }
table.vert th a:hover .element-name { color: #A52A2A }
table.vert td { vertical-align: top; }
table.offset { margin-left: 2em; margin-right: 2em; }
.indented {
  margin-left: 2em;
}

.header { background: #eee; padding: 0.5em; font-size: 85%; text-align: right }
.header.top { border-top: 1px solid #ccc }
.header.bottom { border-bottom: 1px solid #ccc; margin-top: 1em }
.header .namedate { display: block; float: left }
.header .after { display: block; clear: both; height: 1px }
.header .after:before { content: ' ' }

table.property-table { font-size: 90%; border-collapse: collapse }
table.vert tr { border-top: 1px solid #005a9c; border-top-color: rgb(127, 172, 206) }


.tocline1 { font-weight: bold }
/* .toc { margin-bottom: 0.5em } */

.idl-type-parenthetical { font-size: 90% }
td > :first-child,
th > :first-child { margin-top: 0 }
td p {
  margin-top: 1em;
  margin-bottom: 0;
}

table.collection { border-collapse: collapse; background: #fff; font-size: 90%; margin-bottom: 1em; margin-left: 2em }
table.collection th { background: #eee }
table.collection td, table.collection th { border: 1px solid black; padding: 0.25em; vertical-align: baseline }

ol.notes { list-style-type: none; padding-left: 0 }


/* W3C-REC.css

Modified from original W3C style sheet:
Removed styles for compatiblity with too legacy browsers (such as NS4, IE3 )
etc.
*/

body {
  padding: 2em 1em 2em 2em;
  margin: 0;
  font-family: helvetica, sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

a:link img, a:visited img { border-style: none } /* no border on img links */

h1, h2, h3, h4, h5, h6 { text-align: left }

h1, h2, h3 { color: #005A9C;}
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }

p.copyright { font-size: small }
p.copyright small { font-size: small }

pre { margin-left: 2em }
/*
p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
*/

dt { font-weight: bold }

pre, code { font-family: monospace }

ul.toc, ol.toc {
  list-style: none;
}

/* changed from "@media aural" 
@media speech {  
  h1, h2, h3 { stress: 20; richness: 90 }
  .hide { speak: none }
  p.copyright { volume: x-soft; speech-rate: x-fast }
  dt { pause-before: 20% }
  pre { speak-punctuation: code } 
}
*/







/* SPECIFC TO THIS JAPANESE TRANSLATION */

/* override */
body {
	line-height: 1.5;
	padding-left: 3em;/* 70px → 3em */
	background-image: url(logo-REC.png);
	background-repeat: no-repeat;
}
p.T, li.T {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
p.T + p.T {
	margin-top: 0.8em;
}
pre {
	overflow:auto;
}

.element-summary {
	margin-bottom: 1em;
}
.expander:after { content: ' show »' } /* 'show »' → ' show »' */


	/* font for names (non-narrow) */
.attr-name,
.prop-name,
.element-name {
	font-family: Verdana, "Lucida Grande", sans-serif;
}

	/* font for fixed-width */

pre, code,
.idl-code,
.adef,
.attr-value,
.prop-value {
	font-family:
		Consolas,
		"Lucida Console",
		Courier,
		"DejaVu Sans Mono",
		menlo,
		Monaco,
		monospace;
	font-size: 1em;
}

/* translation meta information */
.transMetaInfo {
	font-size:small;
	border: double #BB3333 6px; padding:0.5em 1em;
}

/* translation annotation */
.transNote { color: #006633; }

/* translation text */
.T {}

/* original english text */
span[lang="en"] {
	display: none;
	background-color:#DDDDFF; 
	font-family:helvetica,serif;
	line-height: 1.3;
}

/* english text view control */
body.show_original span[lang="en"] {
	display: block;
}


#view_control {
	position:fixed;
	bottom:0; left:0;
	background-color:#CCDDFF;
	border:solid black 1px;
}
#view_options {
	display: none;
}
#view_control:hover #view_options {
	display: inline;
}

/* table captions are only used in example tables in this spec.
removed align="bottom" from <caption>
*/
caption {
	caption-side:bottom;
	margin-left:0%;
	text-align:center;
	min-width:15em;
}

/* translated text in example code fragments */
pre span {
	color:#2233AA;
}

/* table.propinfo (property tables)
removed cellpadding="0" cellspacing="0" from <table class="propinfo" ... >
removed valign="baseline" from table cells
changed first column of tables from <td> to <th>
*/
table.propinfo {
	border-collapse: collapse;
	border: none;
}
table.propinfo th, table.propinfo td {
	vertical-align: baseline;
	border: none;
}

table.propinfo th {
	min-width: 9em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

/* for generated contents of element summary */
span.expander span {
	display: none;
}
span.expanded:before {
	content: " — ";
}

/* external link */
a[href^="http://"] {
	font-style: oblique;
}

.header:before {
	display: block;
	float: left;
	content: 'SVG 1.1 (第２版) – 2011年8月16日';
}
